<!-- footer.ejs
    Farishta Sultani 
    301079757 
    June 4, 2021 -->

<!--Footer navbar for Copyright-->
<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid1">
      <h4>&copy; Copyright 2021</h4>
    </div>
  </nav>