<div class="container">
  <h1>About Me</h1>  
  </div>
  <div class="maintxt">                  
    <span class="overlay-text">Welcome! 
      <br>Hello, welcome!
      Thanks for viewing my portfolio. Click above to explore my other pages and hope you have a happy visit. I hope to provide an inside scoop of myself, and hopefully you can gain more knowledge of the work that I have done. Feel free to contact me if any questions arise by clicking on the Contact tab above.</br></span>
</div>
 <div class="container">
   <h3>Hello, welcome!
    Thanks for viewing my portfolio. Click above to explore my other pages and hope you have a happy visit. I hope to provide an inside scoop of myself, and hopefully you can gain more knowledge of the work that I have done. Feel free to contact me if any questions arise by clicking on the Contact tab above.
   </h3>
  </div>    
