<div class="container">
  <h1>About Me</h1>   

  <img  background-image: src="/Assets\images/gradient.png" style="position:absolute;width:100%; height:auto;top:20%;left:0%;right: 0%;">
  <div style="position: relative; left: 40; top: 0;">
    <img src="/Assets/images/aboutme.jpg" class="aboutme"/>
    
  </div>
 <h1>Welcome to the Site page!</h1>  
 
 <div class= "centered1"><h3><p style="font-family:'Courier New'">Name: Farishta Sultani
  <br>
   <p style="font-family:'Courier New'">Hello, 
    As stated above my name is Farishta Sultani and I am currently a student at Centennial College studying Health Informatics Technology. While studying I also do work part-time at a Diagnostic Clinic where I am a receptionist/transcriptionist. I have always wanted to work in healthcare but knew I did not want to work on the front-end and deal with individuals lives at risk, so here I am studying the back end of healthcare which is technology, and I am excited for what the future holds. 
     
  
  </h3></div>