<div class="container">
  <h1>Contact Us</h1>  
  </div>
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">First Name</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" >
</div>
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Last Name</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" >
</div>
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Contact Number</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="416-111-1111">
</div>
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

First Name, Last Name, Contact Number, 
Email Address, Message