/* your custom CSS goes here */
.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
.container {
    position: auto;
    text-align: center;
    color: rgb(19, 18, 18);
    }
    .container-fluid1{
        position: fixed;
        left: 0;
        bottom: 1;
        width: 100%;
        clear: both;
        color: black;
        text-align: left;
        text-size-adjust: 50;
    }
.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered1 {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-5%, -50%);
}
.aboutme
{
      position: absolute;
      top: 60px;
      left: 0px;
    }


    body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container1 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

